[Unit]
Description=Load ZFS keys from Azure Key Vault
After=network-online.target
Wants=network-online.target
After=zfs.target
Wants=zfs.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/zfs-keyvault
RemainAfterExit=yes
ExecStart=/usr/local/bin/zkv mount "$GATEWAY_URI"
ExecStartPost=-/bin/systemctl restart zfs-mount.service
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
